.plus{
    
    height: 30px;
    width: 60px;
    background: #f1f116;
    border-radius: 10px;
}
.count{
    height: 30px;
    width: 80px;
    background: #50f579;
    border-radius: 10px;
    
}
.result{
    background: #f099d3;
    height: 30px;
    width: 120px;
    border-radius: 10px;
}